/* By Lark VCR. */


html {
  height: 100%;
}

body {
  margin: 50px 50px 50px 7%;
  /* margin: 50px; */
  max-width: 67%;
  height: 100%;
  font-family: "Anonymous Pro", "Courier", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.7;
  padding: 1em 1em;
  color: #161616;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
}

.max1200 {
  max-width: 1200px;
  /* margin-left: 5%; */
}


/*home-page */

.top {
  display: inline-block;
  width: 100%;
}


/* not sure when using which version of canvas */

#bgCanvas {
  position: fixed;
  top: 0px;
  left: 0px;
  /* z-index: -2; */
}

.canvas {
  margin-top: 100px;
  text-align: right;
  /*margin-top: 200px;
    background-color: #FFFFFF;
    border-style: dotted;
    border-width: 5px;
    border-color: #D2DB21 #8787C1 #00DA80 #D31996;*/
}

.lark {
  float: left;
  max-width: 66%;
  /*margin-left: 300px;*/
}


/*solid border boxes*/

.box {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 15px;
  border-color: #D2DB21 #8787C1 #00DA80 #D31996;
  padding: 40px;
  box-shadow: 5px 5px 20px #A0A1AF;
}

.boxBlank {
  padding: 40px;
}

.one {
  max-width: 60%;
}

.two {
  max-width: 75%;
}

.three {
  max-width: 81%;
}

.four {
  max-width: 90%;
}

.dotted {
  background-color: #FFFFFF;
  border-style: dotted;
  border-width: 5px;
  border-color: #D2DB21 #8787C1 #00DA80 #D31996;
  padding: 20px 20px 20px 40px;
  margin-top: 50;
  max-width: 550px;
}

p a, h1 a {
  text-decoration: none;
  color: #222;
  border-bottom: 2px #00DA80 dotted;
}

p a:hover, h1 a:hover {
  color: #FFFFFF;
  background-color: #161616;
  /*padding: .5em .5em .5em 1.5em;*/
}

.highlight {
  border-style: solid;
  border-width: 5px;
  border-color: #FF000000;
}

.highlight:hover {
  border-style: solid;
  border-width: 5px;
  border-color: #D2DB21 #8787C1 #00DA80 #D31996;
  /* outline-style: solid;
  outline-width: 5px;
  outline-color: #D2DB21;
  outline-offset: -5px; */
}

.highlight a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}


/* flexboxes */


/* flexbox containers for project gallery */

.container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  color: #161616;
  /* background-color: rgba(255, 255, 255, 0.15); */
  */ padding: 20px;
  margin: 30px 10px 30px 10px;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-around;
}

.container * {
  padding: 5px;
}

/* .container p {
  padding: 0, 55px, 0, 15px;
} */


/* ?? when using this? */

.container-column {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column nowrap;
  color: #fff;
  /* background-color: rgba(255, 255, 255, 0.15); */
  padding: 20px;
  margin: 10px 10px 20px 10px;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-around;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.full {
  width: 100%;
  /* IE */
  flex: 0 1 100%;
}

.two-thirds {
  width: 65%;
  /* IE */
  flex: 1 1 calc(66% - 25px);
}

.half {
  width: 49%;
  /* IE */
  flex: 1 2 420px;
}

.third {
  width: 32.2%;
  /* IE */
  flex: 1 1 calc(33.333333% - 25px);
}

.fourth {
  width: 24%;
  /* IE */
  flex: 0 1 calc(25% - 25px);
}

.fifth {
  width: 19.5%;
  /* IE */
  flex: 0 1 calc(20% - 25px);
}

.sixth {
  width: 15.7%;
  /* IE */
  flex: 0 1 calc(16.666666% - 25px);
}

.two-thirds-fixed {
  width: 65%;
  /* IE */
  flex: 0 1 calc(66% - 25px);
}

.half-fixed {
  width: 49%;
  /* IE */
  flex: 0 2 calc(50% - 25px);
}

.third-fixed {
  width: 32.2%;
  /* IE */
  flex: 0 1 calc(33.333333% - 25px);
}

.fourth-fixed {
  width: 24%;
  /* IE */
  flex: 0 1 calc(25% - 25px);
}

.fifth-fixed {
  width: 19.5%;
  /* IE */
  flex: 0 1 calc(20% - 25px);
}

.sixth-fixed {
  width: 15.7%;
  /* IE */
  flex: 0 1 calc(16.666666% - 25px);
}

.image {
  width: 100%;
  height: auto;
}

.align-right {
  justify-content: flex-end;
  align-self: flex-end;
}


/*flex boxes for project pages --- old*/

.flex-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 80px;
  /* height: 100%; */
}

.flex-item_1 {
  align-self: auto;
  margin: 15px;
  flex: 1 1 100%;
}

.flex-item_2 {
  align-self: auto;
  margin: 15px;
  flex: 1 1 40%;
}

.flex-item_3 {
  align-self: auto;
  margin: 15px;
  flex: 1 1 25%;
}

.flex-item_4 {
  align-self: auto;
  margin: 15px;
  flex: 1 1 25%;
}

.flex-item_1 img, .flex-item_2 img, .flex-item_3 img, .flex-item_4 img {
  width: 100%;
  height: auto;
}

.flex-item_2 iframe {
  width: 100%;
  height: auto;
}


/*.flex-item_1 iframe {
    width: 100%;
    height: auto;
}*/

.line_top {
  border-top: 1px solid #D3D3D3;
  padding-top: 50px;
  margin-top: 30px;
}

.margin_bottom {
  margin-bottom: 60px;
}

.black {
  color: black;
}


/* #padding {
  padding: 20px;
} */

#container_gallery {
  margin-top: 50px;
}

#container_logo {
  flex-wrap: wrap;
  padding: 40px 80px 40px 20px;
  max-width: 600px;
}

#logo_img {
  min-width: 200px;
  max-width: 600px;
}

#container_bubbles {
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 20px 20px 20px;
  color: black;
  /* background-color: #fff; */
}

#container_bubbles_projectIndex {
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 20px 20px 20px;
  color: black;
  text-align: right;
  /* background-color: #fff; */
  background-image: url("../assets/bubbles/bubblesPop_03.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
}

#container_ttMovie {
  /*flex properties set in flex-container*/
  background-image: url("../assets/TTHeartMovie/StarBackSmall.jpg");
  background-attachment: scroll;
  flex-wrap: wrap;
  padding: 13px;
  /* padding: 10px 10px 40px 80px; */
  max-width: 1000px;
  color: #F7F7F7;
  text-align: center;
  /* text-shadow: 2px 2px #000; */
}

#container_ttProduct {
  /*flex properties set in flex-container*/
  background-image: url("../assets/TTHeartMovie/StarBackSmall.jpg");
  /* background-image: url("../assets/tattle-tale_heart/BackgroundGridProductBack.jpg"); */
  background-attachment: scroll;
  flex-wrap: wrap;
  padding: 13px;
  max-width: 780px;
  color: #F7F7F7;
}

#item_ttMovieMainImage {
  min-width: 300px;
  max-width: 800px;
}

#item_ttMovieImages {
  order: 0;
  /*flex: 1 1 45%;*/
  min-width: 200px;
  max-width: 800px;
}

#container_babump {
  background-color: #ffffff;
  flex-wrap: wrap;
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  color: #222;
  letter-spacing: .07em;
  padding: 40px 50px 40px 50px;
  margin-bottom: 0;
  /*font-family: 'Raleway', sans-serif;*/
}

#item_babumpText {
  color: #222;
  letter-spacing: .07em;
  order: 0;
  min-width: 400px;
  max-width: 800px;
  font-weight: 200;
}

#item_babumpText h1 {
  margin: 0;
  font-weight: 100;
  font-size: 38px;
  text-align: center;
}

#item_babumpMainImage {
  flex: 1 1 45%;
  min-width: 300px;
  max-width: 800px;
}

#item_babumpBanner {
  max-width: 400px;
  align-self: flex-start;
}

#item_babumpImages {
  order: 0;
  /*flex: 1 1 45%;*/
  min-width: 300px;
  max-width: 800px;
}

#container_meeglo {
  justify-content: flex-start;
  padding: 20px 20px 20px 20px;
  background-color: #fff;
  max-width: 600px;
  /* align-self: flex-end; */
}

#container_startups {
  justify-content: flex-start;
  padding: 20px 20px 20px 20px;
  background-color: #fff;
  max-width: 1000px;
  align-self: flex-start;
}

#container_bubbles {
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 20px 20px 20px;
  color: black;
  /* background-color: #fff; */
}

#container_tGotchi {
  padding: 40px;
  max-width: 580px;
  background-color: #0F0F0F;
  background-image: url("../assets/traumagotchi/bg_staticGrid_0.png");
  align-content: flex-end;
  border: 5px solid #00ff00;
  /* background-attachment: scroll; */
  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: auto; */
}

#container_tGotchi:hover {
  border-style: solid;
  border-width: 5px;
  border-color: #D2DB21 #8787C1 #00DA80 #D31996;
}

#item_tGotchiText {
  color: #00ff00;
  letter-spacing: .07em;
  font-weight: 200;
  text-align: center;
}
#container_hclove  {
  padding: 40px;
  max-width: 1500px;
  background-image: url("../projects/humancomputerlove/assets/bubbles_fullScreen.jpg");
  text-align: center;
  font-family: "Ubuntu", "Lucida Console", "Courier", monospace;

}


#item_bubbleImages {
  order: 0;
  /*flex: 1 1 45%;*/
  min-width: 550px;
  max-width: 640px;
}

#container_everything-after {
  padding: 30px;
  /* padding: 10px 10px 40px 80px; */
  /* max-width: 90%; */
  justify-content: flex-end;
  /* padding: 20px 20px 20px 20px; */
  background-color: #fff;
  /* align-self: flex-end; */
}

/* @media (min-width: 320px) and (max-width: 480px) {  */


/* @media only screen and (max-width: 768px) { */


/* not sure why media queries aren't working */


/* body {
    margin: 50px;
    max-width: 50%;
    height: 100%;
    font-size: 20px;
    line-height: 1.7;
    padding: 1em 1em;
  }
  li {
    font-size: 36px;
  }
  .flex-container {
    flex-wrap: wrap;
  }
  .flex-item_2 {
    flex: 0 1 90%;
    align-self: auto;
    margin: 10px;
  }
  .flex-item {
    flex: 0 1 90%;
    align-self: auto;
    margin: 10px;
  }
} */


/*flexbox for setting sticky footer*/

.main-content {
  /* By setting flex-grow to 1, the main content will take up
   all of the remaining space on the page.
   The other elements have flex-grow: 0 and won't contest the free space. */
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}

footer {
  /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  */
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
  align-self: flex-end;
  width: 100%;
  text-align: right;
  padding: 60px 0px 10px 0px;
  font-size: 12px;
}


/*CSS for Nav Menu*/

.links {
  list-style-type: none;
  right: 50px;
  top: 70px;
  font-size: 26px;
  line-height: 1.3;
  z-index: 2;
  position: fixed;
}

.links a {
  text-decoration: none;
  border-bottom: none;
  /*display: block;*/
}

.projectIndexLink {
  top: 300px;
  text-align: right;
  font-size: 14px;
  line-height: .7;
}

.projectIndexLink a, .projectIndexLink p {
  color: #777777;
}

.topMargin {
  margin-top: 20px;
}

.greenLink {
  background-color: #00DA80;
  color: #161616;
  padding: .15em;
}

.purpleLink {
  background-color: #6478CC;
  color: #161616;
  padding: .15em;
}

.chartreuseLink {
  background-color: #D2DB21;
  color: #161616;
  padding: .15em;
}

.pinkLink {
  background-color: #D31996;
  color: #161616;
  padding: .15em;
}

.activeLink {
  color: #FFFFFF;
  background-color: #BFB8BA;
  padding: .15em;
}

.greenLink:hover {
  color: #FFFFFF;
  background-color: #161616;
  /*padding: .5em .5em .5em 1.5em;*/
}

.purpleLink:hover {
  color: #FFFFFF;
  background-color: #161616;
  /*padding: .5em .5em .5em 1.5em;*/
}

.chartreuseLink:hover {
  color: #FFFFFF;
  background-color: #161616;
  /*padding: .5em .5em .5em 1.5em;*/
}

.pinkLink:hover {
  color: #FFFFFF;
  background-color: #161616;
  /*padding: .5em .5em .5em 1.5em;*/
}

/* social media icons */
#social-media {
text-decoration: none;
}


/*links no longer usings*/

.moreInfoLink {
  text-decoration: none;
  color: #161616;
  padding: .15em;
}

.moreInfoLink:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #D2DB21;
  /*color: #FFFFFF;*/
  /*background-color: #BFB8BA;*/
  /*padding: .5em .5em .5em 1.5em;*/
}


/*the end*/
