/* By Lark VCR. */
/* I built this website as a way to learn html/css, so
it is a bit of a tangled ball rolling up and down
the learning curve.

Unless necessary, I will likely never untangle it.
Contrary to the code-bro perspective, I believe there
is beauty in the strangely-shaped but still-functioning. */
@import url(https://static.mailerlite.com/assets/plugins/groot/modules/includes/groot_fonts/import.css?version=11920);

html {
  height: 100%;
}

body {
  margin: 50px 50px 50px 7%;
  /* margin: 50px; */
  max-width: 67%;
  height: 100%;
  font-family: "Anonymous Pro", "Courier", "Helvetica", "Arial", sans-serif;
  font-size: 18px;
  line-height: 1.7;
  padding: 1em 1em;
  color: #161616;
  background-color: #F7F7F7;
  display: flex;
  flex-direction: column;
}

.max1200 {
  max-width: 1200px;
  /* margin-left: 5%; */
}

/*home-page */
.top {
  display: inline-block;
  width: 100%;
}

/* not sure when using which version of canvas */
#bgCanvas {
  position: fixed;
  top: 0px;
  left: 0px;
  /* z-index: -2; */
}

.canvas {
  margin-top: 100px;
  text-align: right;
  /*margin-top: 200px;
    background-color: #FFFFFF;
    border-style: dotted;
    border-width: 5px;
    border-color: #D2DB21 #8787C1 #00DA80 #D31996;*/
}

.lark {
  float: left;
  max-width: 66%;
  /*margin-left: 300px;*/
}

/*solid border boxes*/
.box {
  background-color: #FFFFFF;
  border-style: solid;
  border-width: 15px;
  border-color: #D2DB21 #8787C1 #00DA80 #D31996;
  padding: 40px;
  box-shadow: 5px 5px 20px #A0A1AF;
}

.boxBlank {
  padding: 40px;
}

.one {
  max-width: 60%;
}

.two {
  max-width: 75%;
}

.three {
  max-width: 81%;
}

.four {
  max-width: 90%;
}

.dotted {
  background-color: #FFFFFF;
  border-style: dotted;
  border-width: 5px;
  border-color: #D2DB21 #8787C1 #00DA80 #D31996;
  padding: 20px 20px 20px 40px;
  margin-top: 50;
  max-width: 550px;
}

p a, h1 a {
  text-decoration: none;
  color: #222;
  border-bottom: 2px #00DA80 dotted;
}

p a:hover, h1 a:hover {
  color: #FFFFFF;
  background-color: #161616;
  /*padding: .5em .5em .5em 1.5em;*/
}

.highlight {
  border-style: solid;
  border-width: 5px;
  border-color: #FF000000;
}

.highlight:hover {
  border-style: solid;
  border-width: 5px;
  border-color: #D2DB21 #8787C1 #00DA80 #D31996;
  /* outline-style: solid;
  outline-width: 5px;
  outline-color: #D2DB21;
  outline-offset: -5px; */
}

.highlight a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

/* flexboxes */
/* flexbox containers for project gallery */
.container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: row wrap;
  color: #161616;
  /* background-color: rgba(255, 255, 255, 0.15); */
  */ padding: 20px;
  margin: 30px 10px 30px 10px;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-around;
}

.container * {
  padding: 5px;
}

/* .container p {
  padding: 0, 55px, 0, 15px;
} */
/* ?? when using this? */
.container-column {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-flow: column nowrap;
  color: #fff;
  /* background-color: rgba(255, 255, 255, 0.15); */
  padding: 20px;
  margin: 10px 10px 20px 10px;
  align-content: flex-start;
  align-items: flex-start;
  justify-content: space-around;
}

.left {
  margin-right: auto;
}

.right {
  margin-left: auto;
}

.full {
  width: 100%;
  /* IE */
  flex: 0 1 100%;
}

.two-thirds {
  width: 65%;
  /* IE */
  flex: 1 1 calc(66% - 25px);
}

.half {
  width: 49%;
  /* IE */
  flex: 1 2 420px;
}

.third {
  width: 32.2%;
  /* IE */
  flex: 1 1 calc(33.333333% - 25px);
}

.fourth {
  width: 24%;
  /* IE */
  flex: 0 1 calc(25% - 25px);
}

.fifth {
  width: 19.5%;
  /* IE */
  flex: 0 1 calc(20% - 25px);
}

.sixth {
  width: 15.7%;
  /* IE */
  flex: 0 1 calc(16.666666% - 25px);
}

.two-thirds-fixed {
  width: 65%;
  /* IE */
  flex: 0 1 calc(66% - 25px);
}

.half-fixed {
  width: 49%;
  /* IE */
  flex: 0 2 calc(50% - 25px);
}

.third-fixed {
  width: 32.2%;
  /* IE */
  flex: 0 1 calc(33.333333% - 25px);
}

.fourth-fixed {
  width: 24%;
  /* IE */
  flex: 0 1 calc(25% - 25px);
}

.fifth-fixed {
  width: 19.5%;
  /* IE */
  flex: 0 1 calc(20% - 25px);
}

.sixth-fixed {
  width: 15.7%;
  /* IE */
  flex: 0 1 calc(16.666666% - 25px);
}

.image {
  width: 100%;
  height: auto;
}

.align-right {
  justify-content: flex-end;
  align-self: flex-end;
}

/*flex boxes for project pages --- old*/
.flex-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
  margin-top: 80px;
  /* height: 100%; */
}

.flex-item_1 {
  align-self: auto;
  margin: 15px;
  flex: 1 1 100%;
}

.flex-item_2 {
  align-self: auto;
  margin: 15px;
  flex: 1 1 40%;
}

.flex-item_3 {
  align-self: auto;
  margin: 15px;
  flex: 1 1 25%;
}

.flex-item_4 {
  align-self: auto;
  margin: 15px;
  flex: 1 1 25%;
}

.flex-item_1 img, .flex-item_2 img, .flex-item_3 img, .flex-item_4 img {
  width: 100%;
  height: auto;
}

.flex-item_2 iframe {
  width: 100%;
  height: auto;
}

/*.flex-item_1 iframe {
    width: 100%;
    height: auto;
}*/
.line_top {
  border-top: 1px solid #D3D3D3;
  padding-top: 50px;
  margin-top: 30px;
}

.margin_bottom {
  margin-bottom: 60px;
}

.black {
  color: black;
}

/* #padding {
  padding: 20px;
} */
#container_gallery {
  margin-top: 50px;
}

#container_logo {
  flex-wrap: wrap;
  padding: 40px 80px 40px 20px;
  max-width: 600px;
}

#logo_img {
  min-width: 200px;
  max-width: 600px;
}

#container_bubbles {
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 20px 20px 20px;
  color: black;
  /* background-color: #fff; */
}

#container_bubbles_projectIndex {
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 20px 20px 20px;
  color: black;
  text-align: right;
  /* background-color: #fff; */
  background-image: url("../assets/bubbles/bubblesPop_03.png");
  background-attachment: scroll;
  background-repeat: no-repeat;
}

#container_ttMovie {
  /*flex properties set in flex-container*/
  background-image: url("../assets/TTHeartMovie/StarBackSmall.jpg");
  background-attachment: scroll;
  flex-wrap: wrap;
  padding: 13px;
  /* padding: 10px 10px 40px 80px; */
  max-width: 1000px;
  color: #F7F7F7;
  text-align: center;
  /* text-shadow: 2px 2px #000; */
}

#container_ttProduct {
  /*flex properties set in flex-container*/
  background-image: url("../assets/TTHeartMovie/StarBackSmall.jpg");
  /* background-image: url("../assets/tattle-tale_heart/BackgroundGridProductBack.jpg"); */
  background-attachment: scroll;
  flex-wrap: wrap;
  padding: 13px;
  max-width: 780px;
  color: #F7F7F7;
}

#item_ttMovieMainImage {
  min-width: 300px;
  max-width: 800px;
}

#item_ttMovieImages {
  order: 0;
  /*flex: 1 1 45%;*/
  min-width: 200px;
  max-width: 800px;
}

#container_babump {
  background-color: #ffffff;
  flex-wrap: wrap;
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  color: #222;
  letter-spacing: .07em;
  padding: 40px 50px 40px 50px;
  margin-bottom: 0;
  /*font-family: 'Raleway', sans-serif;*/
}

#item_babumpText {
  color: #222;
  letter-spacing: .07em;
  order: 0;
  min-width: 400px;
  max-width: 800px;
  font-weight: 200;
}

#item_babumpText h1 {
  margin: 0;
  font-weight: 100;
  font-size: 38px;
  text-align: center;
}

#item_babumpMainImage {
  flex: 1 1 45%;
  min-width: 300px;
  max-width: 800px;
}

#item_babumpBanner {
  max-width: 400px;
  align-self: flex-start;
}

#item_babumpImages {
  order: 0;
  /*flex: 1 1 45%;*/
  min-width: 300px;
  max-width: 800px;
}

#container_meeglo {
  justify-content: flex-start;
  padding: 20px 20px 20px 20px;
  background-color: #fff;
  max-width: 600px;
  /* align-self: flex-end; */
}

#container_magic4real {
  justify-content: flex-start;
  padding: 33px;
  background-color: #fff;
  background-image: url("../assets/magic4real/magic4real_pattern.png");
  max-width: 700px;
}

#container_magic4real p {
  color: #3F6FFF;
  background-color: #fff;
  padding: 0;
}

#container_startups {
  justify-content: flex-start;
  padding: 20px 20px 20px 20px;
  background-color: #fff;
  max-width: 1000px;
  align-self: flex-start;
}

#container_bubbles {
  flex-wrap: wrap;
  align-items: center;
  padding: 40px 20px 20px 20px;
  color: black;
  /* background-color: #fff; */
}

#container_tGotchi {
  padding: 40px;
  max-width: 580px;
  background-color: #0F0F0F;
  background-image: url("../assets/traumagotchi/bg_staticGrid_0.png");
  align-content: flex-end;
  border: 5px solid #00ff00;
  /* background-attachment: scroll; */
  /* Create the parallax scrolling effect */
  /* background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
  background-size: auto; */
}

#container_tGotchi:hover {
  border-style: solid;
  border-width: 5px;
  border-color: #D2DB21 #8787C1 #00DA80 #D31996;
}

#item_tGotchiText {
  color: #00ff00;
  letter-spacing: .07em;
  font-weight: 200;
  text-align: center;
}

#container_hclove {
  padding: 40px;
  max-width: 1500px;
  background-image: url("../projects/humancomputerlove/assets/bubbles_fullScreen.jpg");
  text-align: center;
  font-family: "Ubuntu", "Lucida Console", "Courier", monospace;
}

#item_bubbleImages {
  order: 0;
  /*flex: 1 1 45%;*/
  min-width: 550px;
  max-width: 640px;
}

#container_everything-after {
  padding: 30px;
  /* padding: 10px 10px 40px 80px; */
  /* max-width: 90%; */
  justify-content: flex-end;
  /* padding: 20px 20px 20px 20px; */
  background-color: #fff;
  /* align-self: flex-end; */
}

/* @media (min-width: 320px) and (max-width: 480px) {  */
/* @media only screen and (max-width: 768px) { */
/* not sure why media queries aren't working */
/* body {
    margin: 50px;
    max-width: 50%;
    height: 100%;
    font-size: 20px;
    line-height: 1.7;
    padding: 1em 1em;
  }
  li {
    font-size: 36px;
  }
  .flex-container {
    flex-wrap: wrap;
  }
  .flex-item_2 {
    flex: 0 1 90%;
    align-self: auto;
    margin: 10px;
  }
  .flex-item {
    flex: 0 1 90%;
    align-self: auto;
    margin: 10px;
  }
} */
/*flexbox for setting sticky footer*/
.main-content {
  /* By setting flex-grow to 1, the main content will take up
   all of the remaining space on the page.
   The other elements have flex-grow: 0 and won't contest the free space. */
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}

footer {
  /* Like the header, the footer will have a static height - it shouldn't grow or shrink.  */
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
  align-self: flex-end;
  width: 100%;
  text-align: right;
  padding: 60px 0px 10px 0px;
  font-size: 12px;
}

/*CSS for Nav Menu*/
.links {
  list-style-type: none;
  right: 50px;
  top: 60px;
  font-size: 30px;
  line-height: 1.3;
  z-index: 2;
  position: fixed;
}

.links a{
  text-decoration: none;
  border-bottom: none;
}

.emailList {
  right: 50px;
  top: 10px;
  font-size: 24px;
  line-height: 1.3;
  z-index: 2;
  position: fixed;
}

.projectIndexLink {
  top: 270px;
  text-align: right;
  font-size: 14px;
  line-height: .7;
}

.projectIndexLink a, .projectIndexLink p {
  color: #777777;
}

.topMargin {
  margin-top: 20px;
}

.greenLink {
  background-color: #00DA80;
  color: #161616;
  padding: .15em;
}

.purpleLink {
  background-color: #6478CC;
  color: #161616;
  padding: .15em;
}

.chartreuseLink {
  background-color: #D2DB21;
  color: #161616;
  padding: .15em;
}

.pinkLink {
  background-color: #D31996;
  color: #161616;
  padding: .15em;
}

.activeLink {
  color: #FFFFFF;
  background-color: #BFB8BA;
  padding: .15em;
}

.greenLink:hover {
  color: #FFFFFF;
  background-color: #161616;
  /*padding: .5em .5em .5em 1.5em;*/
}

.purpleLink:hover {
  color: #FFFFFF;
  background-color: #161616;
  /*padding: .5em .5em .5em 1.5em;*/
}

.chartreuseLink:hover {
  color: #FFFFFF;
  background-color: #161616;
  /*padding: .5em .5em .5em 1.5em;*/
}

.pinkLink:hover {
  color: #FFFFFF;
  background-color: #161616;
  /*padding: .5em .5em .5em 1.5em;*/
}

/* social media icons */
#social-media {
  text-decoration: none;
}

/*links no longer usings*/
.moreInfoLink {
  text-decoration: none;
  color: #161616;
  padding: .15em;
}

.moreInfoLink:hover {
  text-decoration: underline;
  text-decoration-style: wavy;
  text-decoration-color: #D2DB21;
  /*color: #FFFFFF;*/
  /*background-color: #BFB8BA;*/
  /*padding: .5em .5em .5em 1.5em;*/
}

/*the end*/
.ml-form-embedSubmitLoad {
  display: inline-block;
  width: 20px;
  height: 20px
}

.ml-form-embedSubmitLoad:after {
  content: " ";
  display: block;
  width: 11px;
  height: 11px;
  margin: 1px;
  border-radius: 50%;
  border: 4px solid #fff;
  border-color: #fff #fff #fff transparent;
  animation: ml-form-embedSubmitLoad 1.2s linear infinite
}

@keyframes ml-form-embedSubmitLoad {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg)
  }
}

#mlb2-3025367.ml-form-embedContainer {
  box-sizing: border-box;
  display: table;
  margin: 0 auto;
  position: static;
  width: 100% !important
}

#mlb2-3025367.ml-form-embedContainer button,
#mlb2-3025367.ml-form-embedContainer h4,
#mlb2-3025367.ml-form-embedContainer p,
#mlb2-3025367.ml-form-embedContainer span {
  text-transform: none !important;
  letter-spacing: normal !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper {
  background-color: #00da80;
  border-width: 0;
  border-color: transparent;
  border-radius: 4px;
  border-style: solid;
  box-sizing: border-box;
  display: inline-block !important;
  margin: 0;
  padding: 0;
  position: relative
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper.embedDefault,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper.embedPopup {
  width: 400px
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper.embedForm {
  max-width: 400px;
  width: 100%
}

#mlb2-3025367.ml-form-embedContainer .ml-form-align-left {
  text-align: left
}

#mlb2-3025367.ml-form-embedContainer .ml-form-align-center {
  text-align: center
}

#mlb2-3025367.ml-form-embedContainer .ml-form-align-default {
  display: table-cell !important;
  vertical-align: middle !important;
  text-align: center !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-align-right {
  text-align: right
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedHeader img {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  height: auto;
  margin: 0 auto !important;
  max-width: 100%;
  width: undefinedpx
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody {
  padding: 20px 20px 0 20px
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody.ml-form-embedBodyHorizontal {
  padding-bottom: 0
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent {
  margin: 0 0 20px 0
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent h4,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent h4 {
  color: #000;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 400;
  margin: 0 0 10px 0;
  text-align: left;
  word-break: break-word
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p {
  color: #000;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin: 0 0 10px 0;
  text-align: center
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent ol,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent ul,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent ol,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent ul {
  color: #000;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
  font-size: 16px
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p a,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p a {
  color: #000;
  text-decoration: underline
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-block-form .ml-field-group {
  text-align: left !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-block-form .ml-field-group label {
  margin-bottom: 5px;
  color: #333;
  font-size: 14px;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-decoration: none;
  display: inline-block;
  line-height: 20px
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedContent p:last-child,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-successBody .ml-form-successContent p:last-child {
  margin: 0
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody form {
  margin: 0;
  width: 100%
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent {
  margin: 0 0 20px 0;
  width: 100%
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow {
  float: left
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent.horozintalForm {
  margin: 0;
  padding: 0 0 20px 0;
  width: 100%;
  height: auto;
  float: left
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow {
  margin: 0 0 10px 0;
  width: 100%
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow.ml-last-item {
  margin: 0
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow.ml-formfieldHorizintal {
  margin: 0
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input {
  background-color: #fff !important;
  color: #333 !important;
  border-color: #ccc !important;
  border-radius: 4px !important;
  border-style: solid !important;
  border-width: 1px !important;
  font-family: Ubuntu, sans-serif, serif;
  font-size: 14px !important;
  height: auto;
  line-height: 21px !important;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 10px 10px !important;
  width: 100% !important;
  box-sizing: border-box !important;
  max-width: 100% !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input::-webkit-input-placeholder,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input::-webkit-input-placeholder {
  color: #333
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input::-moz-placeholder,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input::-moz-placeholder {
  color: #333
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input:-ms-input-placeholder,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input:-ms-input-placeholder {
  color: #333
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input:-moz-placeholder,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input:-moz-placeholder {
  color: #333
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow textarea,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow textarea {
  background-color: #fff !important;
  color: #333 !important;
  border-color: #ccc !important;
  border-radius: 4px !important;
  border-style: solid !important;
  border-width: 1px !important;
  font-family: Ubuntu, sans-serif, serif;
  font-size: 14px !important;
  height: auto;
  line-height: 21px !important;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 10px !important;
  width: 100% !important;
  box-sizing: border-box !important;
  max-width: 100% !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-label::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-label::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-label::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-radio .custom-control-label::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description::before {
  border-color: #ccc !important;
  background-color: #fff !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow input.custom-control-input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin-top: 5px;
  margin-left: -24px;
  overflow: visible
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-label::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-label::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description::before {
  border-radius: 4px !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow input[type=checkbox]:checked~.label-description::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox input[type=checkbox]:checked~.label-description::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-input:checked~.custom-control-label::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-input:checked~.custom-control-label::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox input[type=checkbox]:checked~.label-description::after {
  background-color: #fff;
  mask-image: url(https://cdn.mailerlite.com/images/default/arrow.svg);
  -webkit-mask-image: url(https://cdn.mailerlite.com/images/default/arrow.svg)
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-input:checked~.custom-control-label::after {
  background-color: #fff;
  mask-image: url(https://cdn.mailerlite.com/images/default/circle.svg);
  -webkit-mask-image: url(https://cdn.mailerlite.com/images/default/circle.svg)
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow input[type=checkbox]:checked~.label-description::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox input[type=checkbox]:checked~.label-description::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-input:checked~.custom-control-label::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-input:checked~.custom-control-label::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-input:checked~.custom-control-label::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-radio .custom-control-input:checked~.custom-control-label::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox input[type=checkbox]:checked~.label-description::before {
  border-color: #000 !important;
  background-color: #000 !important;
  color: #fff !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-label::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-label::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-label::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-label::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-label::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-label::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-radio .custom-control-label::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-radio .custom-control-label::before {
  top: 2;
  box-sizing: border-box
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::before {
  top: 0 !important;
  box-sizing: border-box !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::before {
  top: 0 !important;
  box-sizing: border-box !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description::after {
  top: 3px !important;
  box-sizing: border-box !important;
  position: absolute;
  left: -21px;
  display: block;
  width: 10px;
  height: 10px;
  content: ""
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description::before {
  top: 0 !important;
  box-sizing: border-box !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .custom-control-label::before {
  position: absolute;
  top: 4px;
  left: -24px;
  display: block;
  width: 16px;
  height: 16px;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
  border-radius: 50%
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .custom-control-label::after {
  position: absolute;
  top: 5px !important;
  left: -21px;
  display: block;
  width: 10px;
  height: 10px;
  content: ""
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::before,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description::before {
  position: absolute;
  top: 4px;
  left: -24px;
  display: block;
  width: 16px;
  height: 16px;
  pointer-events: none;
  content: "";
  background-color: #fff;
  border: #adb5bd solid 1px;
  border-radius: 50%
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::after {
  position: absolute;
  top: 3px !important;
  left: -21px;
  display: block;
  width: 10px;
  height: 10px;
  content: ""
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::after {
  position: absolute;
  top: 3px !important;
  left: -21px;
  display: block;
  width: 10px;
  height: 10px;
  content: ""
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .custom-radio .custom-control-label::after {
  background: no-repeat 50%/50% 50%
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .custom-checkbox .custom-control-label::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedPermissions .ml-form-embedPermissionsOptionsCheckbox .label-description::after,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-interestGroupsRow .ml-form-interestGroupsRowCheckbox .label-description::after {
  background: no-repeat 50%/50% 50%
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-control,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-control {
  position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-input,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-input,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-input,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-radio .custom-control-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  box-sizing: border-box;
  padding: 0
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-checkbox .custom-control-label,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-radio .custom-control-label,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-checkbox .custom-control-label,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-radio .custom-control-label {
  color: #000;
  font-size: 12px !important;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  line-height: 22px;
  margin-bottom: 0;
  position: relative;
  vertical-align: top;
  font-style: normal;
  font-weight: 700
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-fieldRow .custom-select,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow .custom-select {
  background-color: #fff !important;
  color: #333 !important;
  border-color: #ccc !important;
  border-radius: 4px !important;
  border-style: solid !important;
  border-width: 1px !important;
  font-family: Ubuntu, sans-serif, serif;
  font-size: 14px !important;
  line-height: 20px !important;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 28px 10px 12px !important;
  width: 100% !important;
  box-sizing: border-box !important;
  max-width: 100% !important;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  background: url(https://cdn.mailerlite.com/images/default/dropdown.svg) no-repeat right .75rem center/8px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow {
  height: auto;
  width: 100%;
  float: left
}

.ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal {
  width: 70%;
  float: left
}

.ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-button-horizontal {
  width: 30%;
  float: left
}

.ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-button-horizontal.labelsOn {
  padding-top: 25px
}

.ml-form-formContent.horozintalForm .ml-form-horizontalRow .horizontal-fields {
  box-sizing: border-box;
  float: left;
  padding-right: 10px
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
  background-color: #fff;
  color: #333;
  border-color: #ccc;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  font-family: Ubuntu, sans-serif, serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 0;
  padding: 10px 10px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: initial
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button {
  background-color: #000 !important;
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  box-shadow: none;
  color: #fff !important;
  cursor: pointer;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px !important;
  font-weight: 700;
  line-height: 20px;
  margin: 0 !important;
  padding: 10px !important;
  width: 100%;
  height: auto
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button:hover {
  background-color: #333 !important;
  border-color: #333 !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow input[type=checkbox] {
  box-sizing: border-box;
  padding: 0;
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin-top: 5px;
  margin-left: -24px;
  overflow: visible
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow .label-description {
  color: #000;
  display: block;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  margin-bottom: 0;
  position: relative;
  vertical-align: top
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label {
  font-weight: 400;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  min-height: 24px;
  padding-left: 24px
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label a {
  color: #000;
  text-decoration: underline
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label p {
  color: #000 !important;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
  font-size: 12px !important;
  font-weight: 400 !important;
  line-height: 18px !important;
  padding: 0 !important;
  margin: 0 5px 0 0 !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow label p:last-child {
  margin: 0
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit {
  margin: 0 0 20px 0;
  float: left;
  width: 100%
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button {
  background-color: #000 !important;
  border: none !important;
  border-radius: 4px !important;
  box-shadow: none !important;
  color: #fff !important;
  cursor: pointer;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif !important;
  font-size: 14px !important;
  font-weight: 700 !important;
  line-height: 21px !important;
  height: auto;
  padding: 10px !important;
  width: 100% !important;
  box-sizing: border-box !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button.loading {
  display: none
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-embedSubmit button:hover {
  background-color: #333 !important
}

.ml-subscribe-close {
  width: 30px;
  height: 30px;
  background: url(https://cdn.mailerlite.com/images/default/modal_close.png) no-repeat;
  background-size: 30px;
  cursor: pointer;
  margin-top: -10px;
  margin-right: -10px;
  position: absolute;
  top: 0;
  right: 0
}

.ml-error input {
  background: url(https://cdn.mailerlite.com/images/default/error-icon.png) 98% center no-repeat #fff !important;
  background-size: 24px 24px !important
}

.ml-error .label-description,
.ml-error .label-description p,
.ml-error .label-description p a,
.ml-error label:first-child {
  color: red !important
}

#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow.ml-error .label-description p,
#mlb2-3025367.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-checkboxRow.ml-error .label-description p:first-letter {
  color: red !important
}

@media only screen and (max-width:400px) {

  .ml-form-embedWrapper.embedDefault,
  .ml-form-embedWrapper.embedPopup {
    width: 100% !important
  }

  .ml-form-formContent.horozintalForm {
    float: left !important
  }

  .ml-form-formContent.horozintalForm .ml-form-horizontalRow {
    height: auto !important;
    width: 100% !important;
    float: left !important
  }

  .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal {
    width: 100% !important
  }

  .ml-form-formContent.horozintalForm .ml-form-horizontalRow .ml-input-horizontal>div {
    padding-right: 0 !important;
    padding-bottom: 10px
  }

  .ml-form-formContent.horozintalForm .ml-button-horizontal {
    width: 100% !important
  }

  .ml-form-formContent.horozintalForm .ml-button-horizontal.labelsOn {
    padding-top: 0 !important
  }
}
