/* By Lark VCR. "In construction" */

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono');

html, body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

body {
  /* margin: 50px 50px 50px 7%; */
  /* font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif; */
  font-family: "Lucida Console", "Courier", monospace;
  font-size: 16px;
  line-height: 1.7;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #161616;
  background-image: radial-gradient(circle, #f7f7f7, #d4d6d1);
  /* max-width: 1200px; */
  /* margin: auto; */
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header, .marketing, .page-footer {
  padding-right: 1rem;
  padding-left: 1rem;
}


/* Customize navbar */

.navbar-default {
  background-color: #161616;
  /* border-color: #E7E7E7; */
}

.navbar-custom {}


/* change the brand and text color */
.navbar-custom .navbar-brand, .navbar-custom .navbar-text {
  color: #3ac952;
}


/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #D2DB21;
}

/* change the color of hovered links */
.navbar-custom .nav-item.active .nav-link {
  /* color: #95967c; */
  color: #D2DB21;

}


/* change the color of hovered links */
.navbar-custom .nav-item:hover .nav-link {
  color: #D31996;
}


/* style dropdown menu */
.navbar-custom .dropdown-menu {
  padding: 0;
}

/* change hamburger toggler color */
.custom-toggler .navbar-toggler {
    border-color: #D2DB21;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(210, 219, 33, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* button styling */

.post {
  /* font-size: 24px; */
  background-color: #161616;
  color: #D2DB21;
  border: 3px solid #D2DB21;
}

.post:hover {
  background-color: #D2DB21;
  /* border: 3px solid #D2DB21; */
  color: #212121;
}


/* Customize page footer */

.page-footer {
  height: 60px;
  margin-top: 1rem;
  padding-top: 1.5rem;
  color: #777;
  /* border-top: .05rem solid #bbb; */
  text-align: right;
  font-size: 14px;
}


/* sticky footer */

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}


/* Customize container */

@media (min-width: 48em) {
  .container {
    max-width: 70rem;
  }
}


/* Main gallery message and sign up button */

.jumbotron {
  text-align: center;
  /* border-bottom: .05rem solid #e5e5e5; */
  background-color: #00000000;
}

.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

.jumbotron h1, .ubuntu {
    font-family: "Ubuntu Mono", "Lucida Console", "Courier", monospace;
}


/* gallery content */

.gallery {
  margin: 3rem 0;
}

.gallery p+h4 {
  /* margin-top: 1.5rem; */
}

.contact {
  /* text-align: right; */
  font-size: .8rem;
  padding-bottom: 0;
  margin-bottom: 0;
}


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header, .gallery, .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

#bubbleCanvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -2;
}

#bgCanvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -3;
}

/* for styling & coloring cell divs */

.cell {
  padding: 1rem 1rem 0 1rem;
  /* margin: 1rem; */
  background-color: #e0e1debb;
  /* background-color: #f7f7f733; */
  /* background-color: #bdbfbf88; */
  border-style: solid;
  border-width: 0px;
  border-color: #8f9091;
  box-shadow: 0px 0px 5px #8f9091;
  /* border-radius: 80px; */
}

.hoverBlack:hover, .blackText {
  background-color: #161616;
  color: #D2DB21;
}

.hoverBlack:hover a, .black a, .transBlack a {
  color: #D2DB21;
}

.noHover {
  background-color: #e0e1debb;
  color: #161616;
}

.yellow {
  background: #D2DB21;
}

.pink {
  background: #D31996;
  /* color: #D2DB21;
  background: #161616bb; */
    /* color: #161616; */
}

.purple {
  background: #9f44c9;
  /* color: #D2DB21;
  background: #161616bb; */
}

.green {
  background: #3ac952;
  /* color: #D2DB21;
  background: #161616bb; */
}

.transBlack {
  color: #f3f970;
  /* color: #D2DB21; */
  background: #161616bb;
}

.black {
  color: #D2DB21;
  background: #161616;
}


/* color specific to text  */

.yellowText {
  color: #D2DB21;
}

.pinkText {
  color: #D31996;
}

.purpleText {
  color: #9f44c9;
}

.greenText {
  color: #3ac952;
}



a {
  text-decoration: none;
  border-bottom: none;
  color: #161616;
}

a:hover {
  text-decoration: none;
}
