/* html {
  height: 100%;
}*/

body {
  margin: 50px 50px 50px 7%;
  /* max-width: 67%; */
  /* height: 100%; */
  /* font-family: 'ZCOOL QingKe HuangYou', cursive; */
  /* font-family: 'Shrikhand', cursive; */

  font-family: 'Gloria Hallelujah', cursive;
  font-size: 18px;
  line-height: 1.7;
  padding: 1em 1em;
  color: #F7F7F7;
  background-color: #212121;
  display: flex;
  flex-direction: column;
}

.spellHeader {
  /* background-color: #21212122; */
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  /* font-family: 'Shrikhand', cursive; */
/* font-family: 'Gloria Hallelujah', cursive; */
text-shadow: 20px 10px 0 #FF0000;
}



.fullScreenCanvas {
  /* sets canvas to be aligned to top right of screen
position absolute will stop it from scrolling */
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  /* uncomment next line to position the canvas BEHIND the HTML */
  /* z-index: -1; */
}

#bgP5Canvas{
  z-index:-5;
  position: fixed;
}

#candleP5Canvas {
  position: absolute;
  right: 5%;
  top: 2rem;
  width: 20%;
  /* height: 20%; */
}
